# Compiled files
**/bin/
build/
*.class
*.jar
*.war
!lib/mysql-connector-j-9.7.0.jar
!lib/junit-platform-console-standalone-1.11.3.jar

# IDE
.idea/
*.iml
out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Gradle
.gradle/

# Others
*.swp
*.swo
*~
.project
.classpath
